.top-bar{
    //position : absolute ;
   // top : 0px;
   // left : 0px;
    width : 100% ;
    height : 110px;
    background-color:whitesmoke;
}
.top-image {
    position: absolute;
    right : 20px;
    top : 20px;
    width : 60px;
    border-radius : 50% ;
}
.top-title{
     margin-left : 0px;
     font-size: 24px;
}
.docs-icon {
     width : 60px;
     height : 60px;
     
}
.topbar-left {
    display: flex;
    align-items: center ;
    margin : 15px;
    gap : 15px ;
}